<div class="border bg-gray p-4 text-center bg-gray-100" *ngIf="data else loading">
  <div class="text-4xl font-bold first-letter:pr-1.5">{{ data.voucherAmount | currency:data.currency }}</div>
  <div class="font-bold">Cash in voucher</div>
  <div>
    <span class="font-bold text-gray-500">Valid for: </span>
    <!-- todo: use a custom pipe for calculating time difference here for expire date -->
    <span class="">{{ data.expiresAt | date }}</span>
  </div>
  <div class="italic mt-6">
    You will receive your QR code in the next step and will be also e-mailed to
    <span class="font-bold">{{ data.userEmail }}</span>!
  </div>
  <a routerLink="status" class="block w-full bg-yellow-400 font-bold text-center p-2 mt-2 uppercase">
    purchase voucher
  </a>
</div>

<ng-template #loading>
  <div class="bg-gray-200 h-56 animate-pulse flex items-center justify-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>